body {
    background-image: url("background2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:Arial;
}
table { 
    border-collapse:collapse
 }

a{
    text-decoration: none;
    color: blue;
}
a:hover{
    color:orange;
}
.page{
    width:80%;
    background-color: white;
    align-content: center;
    margin: 70px;

}
.image{
    width: 40%;
}
.potrait{
    padding: 50px;
    height :300px;

}
.description{
width: 100%;
}
.qualifications{
    padding:30px;
}

.assignments{
    table-layout: auto;
     width: 100%;
}
.assignments tr:nth-child(even) {
    background-color: #f2f2f2;
  }
